body {
    background-color: rgb(3, 3, 27);
}

.cartao {
    background-color: rgb(28, 28, 68);
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.imgcartao {
    color: violet;
    background-color: violet;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.titulocartao {
    font-size: 19pt;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    color: rgb(223, 202, 202);
}
.textocartao{
    font-size: 12pt;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.rodape {
    text-align: center;
}
h5 {
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 0%;
    padding-top: 5%;
}