body {
    background-color: rgb(9, 11, 25);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.cartao {
    background-color: rgb(27, 25, 56);
    color: hsl(0, 0%, 100%);
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
    margin-left: 14px;
    margin-right: 14px;
}

.imgcartao {
    border-radius: 15px;
    color: violet;
    background-color: violet;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.titulocartao {
    font-size: 21pt;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
}
.textocartao{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.rodape {
    text-align: center;
}
h5 {
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 0%;
    padding-top: 5%;
}
.rodape p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 14px;
    font-weight: 400;
}