body {
    background-color: tomato;
    background-image: url(images/bg-intro-mobile.png);
    padding: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .row {
    --bs-gutter-x: 0;
  }
  .texto {
    color: white;
    margin-top: 50px;
    padding: 40px center;
  }
  .paragrafo {
    padding: 15px;
  }
  .titulo {
    padding: 30px;
  }
  .botao {
    width: 330px;
    height: 75px;
    background-color: rgb(91, 45, 165);
    color: white;
    font-size: 10pt;
    box-shadow: black (6,3,3,.2);
    border-radius: 10px;
  }
  .formulario {
    width: 330px;
    background-color: white;
    margin-top: 50px;
    text-align: center;
    margin-left: 11px;
    border-radius: 10px;
    box-shadow: black (3,3,.2);
    margin-bottom: 40px;
  }
  .login {
    background-color: white;
    margin: 20px 20px 20px 20px;
    width: 335px;
    padding-top: 10px;
    border-radius: 10px;
  }
  .campoform {
    width: 305px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px
    
  }
  .botaoform {
    background-color: rgb(65, 192, 65) ;
    color: white;
    width: 305px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
  }
  .rodape {
    font-size: small;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }