html, body {
    height: 100%;
}
body { 
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: blueviolet;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
.container--home {
  text-align: center;
  color: white;
  padding: 25px;
} 
.topo {
  margin-top: 0px;
  text-align: left;
}
.logomarca {
  width: 150px;
}
.ilustraçao {
  margin-top: 50px;
  margin-bottom: 50px;
}
.texto {
  margin-bottom: 50px;
}

.botao {
  background: white;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.6);
  color: blueviolet;
  border: white;
}