html, body {
    height: 100%;
}
body { 
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: blueviolet;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  text-align: center;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
}
.container--home {
  text-align: center;
  color: white;
  padding: 25px;
} 
.topo {
  margin-top: 0px;
  text-align: left;
}
.logomarca {
  width: 135px;
}
.ilustraçao {
  margin-top: 50px;
  margin-bottom: 50px;
}
.texto {
  margin-bottom: 50px;
  padding: 15px;
}
h2 {
  font-size: 30px;
  font-family: Poppins, sans-serif;
}
.botao {
  background: white;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  color: blueviolet;
  border: white;
  margin-top: 10px;
}
.rodape {
  margin-top: 18px;
  margin-bottom: 20px;
  color: white;
}
.links {
  width: 25px;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 1440px) {
  body {
    background-image: url(images/bg-desktop.svg);
  }
  .topo{
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .logomarca {
    width: 200px;
  }
  .ilustraçao{
    padding-top: 0px;
    margin-top: 0px;
  }
  .texto {
    font-size: x-large;
    text-align: left;
    padding-left: 20px;
  }
  h2{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .rodape {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .links {
    width: 35px
  }
  .botao {
    width: 175px;
    height: 50px;
    font-size: 23px;
  }
}