html, body {
    height: 100%;
}
body { 
  position: relative;
  background-color: rgb(103, 75, 177);


  text-align: center;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
}
.container--home {
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10%;
} 
.top {
  margin-top: -3%;
  text-align: left;
}
.logo {
  width: 135px;
}
.ilustration {
  margin-top: 55px;
  margin-bottom: 40px;
}
.main-content {
  margin-bottom: 50px;
}
.title {
  font-size: 26px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 2.3rem;
}
.text {
  margin-top: 18px;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  line-height: 1.5rem;
}
.button {
  background: white;
  width: 220px;
  height: 45px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  color: blueviolet;
  border: white;
  margin-top: 25px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.button:hover {
  background: rgb(232, 127, 232);

}
.footer {
  margin-top: 4rem;
  margin-bottom: 20px;
  color: white;
}
.links {
  font-size: 2rem;
  background-color: white;
  color: rgb(103, 75, 177);
  margin: 4px;
  border-radius: 50px;
  padding: 5px;
}

@media (min-width: 1440px) {
  body {
    background-image: url(images/bg-desktop.svg);
  }
  .topo{
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .logomarca {
    width: 200px;
  }
  .ilustraçao{
    padding-top: 0px;
    margin-top: 0px;
  }
  .texto {
    font-size: x-large;
    text-align: left;
    padding-left: 20px;
  }
  h2{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .rodape {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .links {
    width: 35px
  }
  .botao {
    width: 175px;
    height: 50px;
    font-size: 23px;
  }
}