
.header {
    padding: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 5rem;
}
.logo {
    width: 5.2rem;
    height: auto;
}
.navegation {
    align-items: flex-start;
    flex-direction: inherit;
    gap: 1rem;
    line-height: 1rem;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}
.navegation a {
    color: hsl(243, 87%, 12%);
}
.section01 {
    padding-inline: 1.5rem;
    margin-bottom: 2rem;
}
.img01-container{
    text-align: center;
    margin-bottom: 2rem;
}
.img01 {
    width: 95%;
}
.txt01-container {
    text-align: center;
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
}
.title01 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.9rem;
    font-family: 'Open Sans', sans-serif;
}
.text01 {
    padding-inline: 1rem;
    font-size: 14px;
    margin-bottom: 2rem;
}
.form01 {
    margin-bottom: 3rem;
}
.form01 input {
    border: 1px solid #254564;
    margin-bottom: 1rem;
}
.form01 button {
    width: 100%;
    font-weight: bold;
}
.bg-img {
    background-image: url(images/bg-curve-mobile.svg);
    margin-left: 2px;
    height: 1.7rem;
}

.section02 {
    background-color: hsl(240, 75%, 98%);
    padding-bottom: 5rem;
    padding-inline: 0.8rem;
}
.img02-container {
    text-align: center;
    margin-block: 3rem;
}
.img02 {
    width: 95%;
}
.txt02-container {
    color: hsl(238, 22%, 44%);
}
.title02 {
 
    color: hsl(243, 87%, 12%);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.text02 {
    font-size: 15px;
    font-weight: 400;
}
.link02-container {
    text-align: center;
    margin-block: 2rem;
}
.link02-container a {
    color: hsl(170, 45%, 43%);
    text-underline-position: under;
    font-size: 11px;
}
.testimonial-container {
    margin-inline: 1rem;
    border: none;
    color:hsl(243, 87%, 12%);
    box-shadow: 0 0 5px 3px hsl(243deg 87% 12% / 5%);
}
.testimonial {
    padding: 1rem 1rem 1rem 2rem;
    font-size: 11px;
}
.card-title {
    margin-bottom: -1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

.section03 {
    padding-block: 3rem;
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    text-align: center;
}
.title03 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.text03 {
    font-weight: 400;
    margin-bottom: 2rem;
    padding-inline: 1.8rem;
}
.form03 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form03 input {
        height: 2rem; 
        width: 75%;
        margin-bottom: .5rem;
}
.form03 button {
    width: 75%;
    height: 2rem;
    font-weight: bold;
    padding: 0rem;
}
.footer {
    font-size: 1.1rem;
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding-top: 4rem;
}
.footer01 {
    display: grid;
    padding-left: 2.5rem;
    margin-bottom: 3rem;
}
.logorodape {
    color: white;
    margin-bottom: 1.5rem;
}
.footer01 a {
    margin-top: 1rem;
    text-decoration: none;
    color: white;
}
.footer01 a img {
    margin-right: 1rem;
}
.footer02 {
    display: grid;
    padding-left: 2.5rem;
    margin-bottom: 3rem;
}
.footer02 a {
    margin-bottom: 1rem;
}
.footer03 {
    display: grid;
    padding-left: 2.5rem;
    margin-bottom: 3rem;
}
.footer03 a {
    margin-bottom: 1rem;
}
.footer04 {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: -1rem;
}
.footer04 svg {
    width: 2rem;
    border: 1px solid;
    padding: 5px;
    border-radius: 50px;
    margin-inline: 10px;
}
.fb-icon {
    background-color: #ffffff;    
}
@media (min-width: 1440px) {
    .container {
        max-width: fit-content;
    }
    .header {
        margin-top: 2rem;
        margin-inline: 3rem;
    }
    .logo {
        width: 13rem;
        height: auto;
    }
    .navegation {
        font-size: 1.5rem;
        gap: 5rem;
    }
    .section01 {
        flex-direction: row-reverse;
        margin-inline: 3rem;
    }
    .title01 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: left;
        line-height: 4rem;
    }
    .text01 {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 0;
    }
    .form01 {
        margin-bottom: 3rem;
        display: flex;
        gap: 1rem;
        margin-right: 4rem;
        height: 3rem;
    }
    .form01 input {
        height: 100%;
        margin-bottom: 0;
    }
    .form01 button {
        width: 45%;
        padding: 1r.5rem;

    }
    .section02 {
        flex-direction: row-reverse;
        padding-inline: 3rem;
        padding-bottom: 8rem;
    }
    .img02-container {
        width: 50%;
    }
    .bg-img{
        background-image: url(images/bg-curve-desktop.svg);
    }
    .txt02-container {
        width: 50%;
    }
    .title02 {
        margin-left: 1rem;
        font-size: 2.4rem;
        margin-top: 2.5rem;
    }
    .text02 {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 1.8rem;
    }
    .link02-container {
        text-align: left;
        margin-left: 1.8rem;
    }
    .link02-container a {
        font-size: 1.5rem;
    }
    .testimonial-container {
        margin-left: 1.8rem;
        width: 63%;
    }
    .testimonial {
        font-size: 17px;
    }
    .section03 {
        padding-inline: 3.8rem;
        text-align: left;
        padding-top: 6rem;
        padding-bottom: 4rem;
        align-items: center;
    }
    .txt03-container{
        font-size: 1.3rem;
    }
    .title03 {
        margin-left: 1.8rem;
        font-size: 2.3rem;
    }
    .text03 {
        padding-left: 1.8rem;
        padding-right: 0rem;
    }
    .form03-container {
        width: 50%;
    }
    .form03 {
        height: 9rem;
        margin-left: 4rem;
        gap: 5px;
    }

    .form03 input {
        height: 3.8rem;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.164) 2px 2px 2px 2px;
   
    }
    .form03 button {    
        height: 3.8rem;
        width: 50%;
        align-self: self-start;
        margin-left: 4.5rem;
        box-shadow: rgba(0, 0, 0, 0.164) 2px 2px 2px 2px;
    }
    .footer {
        padding-top: 6rem;
        padding-inline: 3rem;
        padding-bottom: 3rem;
    }
    .footer01 a {
        line-height: 0rem;
        margin-top: -3rem;
    }
    .footer02, .footer03, .footer04 {
        padding-top: 5rem;
    }
    .footer04 {
        text-align: left;
    }
}

    
